table {
  align-items: center;
}
table, td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
#divTable {
  padding-top: 10%;
}

.selectedCell {
  outline: 2px dotted rgb(53, 134, 255);
}

.highlightedToMove {
  background-color: rgb(34, 240, 34);
  cursor: pointer;
}

.highlightedToAttack {
  background-color: rgb(228, 94, 85);
  cursor: pointer;
}

.highlightedMovingPawn {
  background-color: rgb(101, 204, 101);
}

.highlightedAttackingPawn {
  background-color: rgb(219, 156, 152);
}

.pawn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 15px 7.5px 0px 7.5px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.playerPawn {
  background-color: rgb(194, 197, 0);
}

.AIPawn {
  background-color: rgb(190, 184, 184);
}
