table {
  align-items: center;
}
table, td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
#divTable {
  padding-top: 10%;
}

.badCell {
  background-color: rgba(119, 119, 119, 0.5);
}

.selectedPawn {
  box-shadow: inset 0px 0px 14px 1px rgb(53, 255, 211);
}

.selectedCell {
  outline: 2px dotted rgb(53, 134, 255);
}

.highlightedToMove {
  background-color: rgba(0, 255, 0, 0.5);
  cursor: pointer;
}

.highlightedToAttack {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.highlightedMovingPawn {
  box-shadow: inset 0px 0px 6px 0px rgb(107, 255, 114);
}

.highlightedAttackingPawn {
  box-shadow: inset 0px 0px 6px 0px rgb(255, 122, 140);
}

.pawn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 15px 7.5px 0px 7.5px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.playerPawn {
  background-color: rgb(194, 197, 0);
}

.AIPawn {
  background-color: rgb(190, 184, 184);
}
